<div class="jumbotron">
<!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Rólam</h2>
            <h4 class="section-subheading text-muted">Édesanyám már gyerekkoromban megtanított többféle kézimunka alapjaira, amit én megpróbáltam továbbfejleszteni, több-kevesebb sikerrel.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2002</h4>
                    <h4 class="subheading">Első megmérettetésem</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">a Nyírségi Ősz keretében meghirdetett X. Nemzetközi Kézműves kiállítás volt, ahol 3. helyezést értem el. A siker megerősítette bennem, hogy érdemes a kézművességgel foglalkoznom. Ezt több pályázat és kiállítás követte.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2005</h4>
                    <h4 class="subheading">Néptáncfesztivál</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">A XXII. Kállai Kettős Néptáncfesztivál keretében létrejöhetett első önálló kiállításom is, "A gyöngyvilág is az én világom" címmel.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2007-2010</h4>
                    <h4 class="subheading">Nagykálló-Harangod</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">A Nagykálló-Harangodon nyaranta megrendezésre kerülő Téka Tábor egyik gyöngyfűző foglalkozásvezetője voltam.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/4.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2008</h4>
                    <h4 class="subheading">További részvételek</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Folyamatosan részt veszek különböző rendezvények kézműves vásáraiban, ahol személyesen is találkozhatunk. Folyamatosan zsűriztetek, szeretném elérni a népi iparművész címet.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Legyél
                    <br>Tagja a
                    <br>Történetemnek!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
</div>